# Rust
/target
Cargo.lock

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.venv/
.eggs/

# IDE
.idea/
.vscode/
*.swp

# Testing
.pytest_cache/
.coverage
htmlcov/

# Miscellaneous
**local.*